<div class="container border p-2 mb-2">
  <div class="row">
    <div class="col-8">{{ task.name }}</div>
    <div class="col-4">
      <button
        *ngIf="showBack"
        (click)="moveBack()"
        class="btn btn-6 btn-primary"
      >
        <strong>&lt;</strong>
      </button>
      <button
        *ngIf="showForward"
        (click)="moveForward()"
        class="btn btn-6 btn-success"
      >
        <strong>&gt;</strong>
      </button>
      <button
        *ngIf="showDelete"
        (click)="delete()"
        class="btn btn-6 btn-danger"
      >
        <strong>x</strong>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-3 offset-1 bg-primary rounded text-white text-center small">
      {{ task.difficulty }}
    </div>
  </div>
</div>
